
.app-container {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    /* font-size: 240px; */
    margin-top: 5vh;
    padding: 2vh 0% 0% 10vi;
    display: flex;
    /* width: 90vi; */
    min-width: 0;
    height: 95vh;
    overflow: auto;
    scrollbar-color: #6B7A8F;
    scrollbar-width: 20px;
    flex-direction: column;
    border-radius: 10px;
    color: #2e3830;
  }

  .app-container .get-files-button {
    font-family: inherit;
    position: relative;
    width: fit-content;
    margin: 20px 20px 20px 0px;
    padding: 10px 20px;
    background-color: #6b7a8f57;
    color: #fff;
    font-weight: bold;
    border: none;
    left: 0;
    border-radius: 4px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .app-container .get-files-button:hover {
    background-color: #6B7A8F;
  }

 .app-container::-webkit-scrollbar {
    width: 15px;
  }
  
 .app-container::-webkit-scrollbar-track {
    border-radius: 1px 7px 7px 1px;  
    /* position: relative; */
  }
  
 .app-container::-webkit-scrollbar-thumb {
    background-color: #6B7A8F;
    border-radius: 20px;
  }
  
  
  /* Styles for the body container */
  .body-container{
    display: flex;
    padding: 2vh 5vi 2vh 1vi;
    min-width: 0;
    /* padding: 2%; */
    /* margin: 2% 0 2% 0; */
    /* overflow-y: auto;
    scrollbar-color: #6B7A8F; */
    /* scrollbar-width: 20px; */
    /* height: 100vh; */
    /* width: 88vi; */
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    /* width: 100%; */
  }

  .files-list-wrapper {
    margin-right: 5vh;
    display: flex;
    padding: 2%;
    /* width: max-content; */
    /* height: max-content; */
  }

  .table-details-wrapper {
    margin-left: 5vh;
    display: flex;
    padding: 2%;
    /* width: max-content; */
    /* word-wrap: break-word;
    text-overflow: ellipsis; */
  }