<div class="app-container">
  <h1>File Explorer</h1>
  <button class="get-files-button" (click)="handleGetFiles()">
    Get Files
  </button>
  <div class='body-container'>
    <!-- <FileList files={files} onTableClick={handleTableClick} /> -->
  <div class="files-list-wrapper">
    <app-files-list *ngIf="files.length>0" [files]="files" [tableClick]="handleTableClick"></app-files-list>
    <p *ngIf="files.length===0">Loading files... (maybe try to click Get files button)</p>
  </div>
  <div class="table-details-wrapper">
    <app-table-details [selectedTable]="selectedTable" [onTableClick]="handleTableClick"></app-table-details>
  </div>
  </div>
</div>
<router-outlet></router-outlet>